@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap');

:root {
    --orange-txt: #ff9000;
}

h1 {
    color: var(--orange-txt);
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
}

img {
    object-fit: cover;
}

.link {
    text-decoration: none;
    color: #ff4f00;
}

.page {
    background-color: #000000;
    font-family: "Caveat", cursive;
}

.full_width {
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    height: 4vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-stretch {
    align-items: stretch;
}

.centered-block {
    margin: auto;
}

.header__header::before, .header__header::after {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    content: " ";
    background-image: url("../img/star-svgrepo-com (1).svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 1vw;
    margin-right: 1vw;
    transition: 1s;
}

.header__header:hover::before, .header__header:hover::after {
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.introduction {
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 5vw;
}

.introduction__joke {
    font-size: 3vw;
    color: white;
    width: 50vw;
    margin: 0;
}

.introduction__image {
    border-radius: 50%;
    object-fit: cover;
    width: 31%;
}

.education {
    background-color: var(--orange-txt);
    height: 7vw;
    width: 100%;
    padding-left: 8vw;
    margin-top: 8vw;
    gap: 5vw;
    justify-content: flex-start;
}

.education__stages {
    gap: 5vw;
}

.education__stages li {
    font-size: 2vw;
    list-style-type: none;
}

.experience {
    color: var(--orange-txt);
    height: 7vw;
    width: 100%;
    padding-left: 8vw;
    margin-top: 0;
    gap: 5vw;
    border-bottom: 0.5vw solid var(--orange-txt);
    justify-content: flex-start;
}

.experience__header {
    white-space: nowrap;
}

.experience__stages {
    gap: 5vw;
}

.experience__stages li {
    font-size: 2vw;
    list-style-type: none;
}

.chelyabinsk_image {
    border-radius: 50%;
    object-fit: cover;
    width: 20%;
    margin-left: 5vw;
    margin-top: 1.6vw;
    margin-bottom: 2vw;
}

.dog_image {
    border-radius: 50%;
    object-fit: cover;
    width: 20%;
    margin-right: 5vw;
    margin-top: 1.6vw;
    margin-bottom: 2vw;
}

.achievements {
    background-color: black;
    color: var(--orange-txt);
    width: 50%;
    padding-left: 5vw;
}

.achievements__header, .hobbies__header {
    margin-top: 2.4vw;
    margin-bottom: 0;
}

.achievements__list {
    font-size: 2vw;
}

.hobbies {
    background-color: black;
    color: var(--orange-txt);
    width: 25%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.hobbies__list {
    font-size: 2vw;
}

.footer {
    border-top: 0.5vw solid var(--orange-txt);
    padding-top: 1.6vw;
}

.footer__logo {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}


.footer__logo_telegram {
    width: 2.5vw;
}

.footer__logo_github {
    width: 7vw;
}

.footer__logo_vk {
    width: 2.5vw;
}
