@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* div {
    border: 1px solid red;
}

header {
    border: 1px solid blue;
} */

:root {
    --orange-txt: #ff9000;
}

h1 {
    color: var(--orange-txt);
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
}

img {
    object-fit: cover;
}

.link {
    text-decoration: none;
    color: #ff4f00;
}

.page {
    background-color: #000000;
    font-family: "Caveat", cursive;
}


.header {
    display: flex;
    width: 100%;
    height: 4vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.centered-block {
    margin: auto;
}

.header__header::before, .header__header::after {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    content: " ";
    background-image: url("../img/star-svgrepo-com (1).svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 1vw;
    margin-right: 1vw;
    transition: 1s;
}

.header__header:hover::before, .header__header:hover::after {
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.introduction {
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 5vw;
}

.introduction__joke {
    font-size: 3vw;
    color: white;
    width: 50vw;
    margin: 0;
}

.introduction__image {
    border-radius: 50%;
    object-fit: cover;
    width: 31%;
}

.education {
    background-color: var(--orange-txt);
    height: 7vw;
    width: 100%;
    padding: 10px 5vw;
    margin-top: 8vw;
    gap: 5vw;
    justify-content: flex-start;
}

.education__stages {
    padding: 0;
    gap: 5vw;
}

.education__stages li {
    font-size: 2vw;
    list-style-type: none;
    width: auto;
    white-space: nowrap;
}

.experience {
    color: var(--orange-txt);
    height: 7vw;
    width: 100%;
    /* padding-left: 8vw; */
    padding: 10px 5vw;
    margin-top: 0;
    gap: 5vw;
    border-bottom: 0.25vw solid var(--orange-txt);
    justify-content: flex-start;
}

.experience__header {
    white-space: nowrap;
}

.experience__stages {
    padding: 0;
    gap: 5vw;
}

.experience__stages li {
    font-size: 2vw;
    list-style-type: none;
    white-space: nowrap;
    width: auto;
}

.main_info {
    width: 100%;
    align-items: stretch;
}

.chelyabinsk_image {
    border-radius: 50%;
    object-fit: cover;
    width: 20%;
    margin-left: 5vw;
    margin-top: 1.6vw;
    margin-bottom: 2vw;
}

.dog_image {
    border-radius: 50%;
    object-fit: cover;
    width: 20%;
    margin-right: 5vw;
    margin-top: 1.6vw;
    margin-bottom: 2vw;
}

.achievements {
    background-color: black;
    color: var(--orange-txt);
    width: 50%;
    padding: 0 0 0 5vw;
}

.achievements__header, .hobbies__header {
    margin-top: 2.4vw;
    margin-bottom: 0;
}

.achievements__list {
    font-size: 2vw;
    padding-left: 4vw;
}

.hobbies {
    background-color: black;
    color: var(--orange-txt);
    width: 25%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.hobbies__list {
    font-size: 2vw;
    padding-left: 4vw;
}

.footer {
    border-top: 0.25vw solid var(--orange-txt);
    padding-top: 1vw;
}

.footer__logo {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}


.footer__logo_telegram {
    width: 2.5vw;
}

.footer__logo_github {
    width: 7vw;
}

.footer__logo_vk {
    width: 2.5vw;
}

.achievements_and_hobbies {
    align-items: stretch;
}

@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }
    .header {
        height: auto;
    }
    .header__header {
        font-size: 10vw;
        text-align: center;
    }
    .header__header::before, .header__header::after {
        display: none;
    }
    .introduction {
        flex-direction: column-reverse;
        margin: 0;
        padding: 20px;
    }
    .introduction__image {
        width: 100%;
    }
    .introduction__joke {
        margin-top: 20px;
        width: 100%;
        font-size: 11vw;
    }
    .education {
        height: auto;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .education__header {
        font-size: 10vw;
        margin: 0;
    }
    .education__stages {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 5px;
    }
    .education__stages li {
        font-size: 8vw;
        width: 90vw;
        margin: 0;
        text-align: center;
    }
    .experience {
        height: auto;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .experience__header {
        font-size: 10vw;
        margin: 0;
    }
    .experience__stages {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 5px;
    }
    .experience__stages li {
        font-size: 8vw;
        width: 90vw;
        margin: 0;
        text-align: center;
    }
    .main_info {
        flex-wrap: wrap;
    }
    .achievements_and_hobbies {
        flex-direction: column;
        width: 100%;
    }
    .achievements {
        padding: 0 0 0 10vw;
        width: 100%;
    }
    .achievements__header {
        font-size: 10vw;
        width: fit-content;
    }
    .achievements__list {
        font-size: 8vw;
        width: fit-content;
    }
    .hobbies {
        padding: 0 0 0 10vw;
        width: 100%;
    }
    .hobbies__header {
        font-size: 10vw;
        width: fit-content;
    }
    .hobbies__list {
        font-size: 8vw;
        width: fit-content;
    }
    .chelyabinsk_image {
        /* width: 25%; */
        width: 100%;
        margin: 20px;
    }
    .dog_image {
        width: 100%;
        /* width: 25%; */
        margin: 20px;
    }
    .footer {
        height: 15vw;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .footer__content {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 5px;
        margin: auto;
    }
    .footer__logo {
        margin: auto;
        height: 100%;
        width: 180vw;
        object-fit: cover;
    }
    .footer__logo_telegram {
        width: 30px;
        height: auto;
        object-fit: cover;
    }

    .footer__logo_github {
        width: 90px;
        height: auto;
        object-fit: cover;
    }

    .footer__logo_vk {
        width: 30px;
        height: auto;
        object-fit: cover;
    }
}
